.pregledLabeleZaglavlje{
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 2px;
}
.sveGumbovi{
    width: fit-content;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    background-color: darkgray;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
.pregledGumboviPoRedovima{
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.pregledGumbPrviURedu{
    margin-top: 20px;
}
.sveGreske{
    color: red;
    font-size: 16px;
    list-style: none;
    margin-left: 40px;
}
.pregledPodaci{
    margin-top: 15px;
}
.pregledGumbPrognoze{
    margin-top: 10px;
}
.sveTabliceScroll{
    overflow-y: auto;
    height: 500px;
    width: fit-content;
}
.pregledTablicaPrognoza{
    width: 150px;
}
.sveTablice{  
    margin-top: 10px;
    border-collapse: inherit;
    border-style: solid;
}
.sveTabliceZaglavlje{
    text-align:center;
    background:none repeat scroll 0 0 lightgray;
    border-bottom:1px solid #BBBBBB;
    padding:16px;
}

.sveTabliceNeparni{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFFF;
    border-top:1px solid #BBBBBB;
}

.sveTabliceParni{
    text-align:center;
    background:none repeat scroll 0 0 #F9F9F9;
    border-top:1px solid #BBBBBB;
}
.dnevnikLabeleZaglavlje{
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right: 2px;
}
